.navigation{
    float: right;
    height: 100%;
}

.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
    background-color: #9c0606;
}

.navigation a li{
    vertical-align: middle;
    display: table-cell;
    font-size: 20px;
    color: white;
}

.navigation a:hover{
    background-color: gray;
    color: #101010;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 8px;
    background: #fa0000;
    color: rgb(255, 255, 255)
    font-family: Arial;
}

.img_class{
    margin: 100px 100px 10px 10px;
}
